<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new chat</title>
</head>
<body>
    <form method="post" action="/chats">
        <input placeholder="From" name="from">
        <br><br>
        <textarea name="message" placeholder="Write your message here ..."></textarea>
        <br><br>
        <input placeholder="To" name="to">
        <br><br>
        <button>Create </button>

    </form>
</body>
</html>