<%  layout("/layouts/boilerplate") -%>
<body>
    <h1>All Listings</h1>
    <ul>
        <%   for(let listing of allListings ){ %>
     
             <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li> 
             
         <%  } %>
            <br>
            <br>
     </ul>
</body>

