<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatsApp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Feedbacks !</h1>

    <% if(isAdmin == false){ %>
      <h2>Incorrect Details</h2>
    <% } %>
    

    <% if(isAdmin == true){ %>
        <% for(let feed of Feedbacks){  %>

            <div class="Feedbacks">
             <p><%= feed.feedback %></p>
            </div>
            <br>
              
       <%  } %>
    <% } %>



</body>
</html>

