<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Hii ! User </h1>
    <form method="post" action="/chats/feedback">
        <textarea  rows="10" cols="100" name="Feedback" placeholder="Write your valuable feedback here "></textarea>
        <br>
        <button>Send</button>
    </form>
</body>
</html>