<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatsApp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Thanks to give own valuable feedback for our API</h1>
    <form method="get" action="/chats">
        <button>Back to Chats</button>
    </form>
</body>
</html>

