<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
    <div>
        Yash PVT Limited
    </div>

    <div class="f-info-links">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
    </div>
</footer>