<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POst in details</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Here is your post in detail</h1>
    <p>Post id : <%= post.id %></p>
    <div class="post">
      <h3 class="username">Username : @<%= post.username %></h3>
      <h4 class="content">Content : <%= post.content %></h4>
    </div>
  </body>
</html>
